In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('babe_ruth.db')
cur = conn.cursor()

In [ ]:
cur.execute("""SELECT COUNT(*) FROM babe_ruth_stats""")
df = pd.DataFrame(cur.fetchall())
df

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


heroes_df = pd.read_csv('heroes_information.csv')
powers_df = pd.read_csv('super_hero_powers.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

heroes_df.drop('Unnamed: 0', axis=1, inplace=True)

heroes_df['Publisher'] = heroes_df['Publisher'].map(lambda x: x if (type(x) == int or float) else 
                                    x if x == 'DC Comics' else 
                                    (x if x == 'NBC - Heroes' else 
                                     (x if x == 'ABC Studios'
                                      else x.title())))
# heroes_df[heroes_df['Publisher'] == 'DC Comics']

# x = 'hi'
# type(x) == str

heroes_df['Publisher'].isna()
heroes_df.drop(heroes_df[heroes_df['Publisher'].isna()].index, inplace=True)
heroes_df.isna().any()

In [ ]:
# ^^^3.21pm thursday data cleaning lab project th

In [17]:
def digital_root(n):
    list_of_nums = [int(i) for i in str(n)]
    new_num = sum(list_of_nums)
    if len(str(new_num)) == 1:
        return new_num
    else:
        return digital_root(new_num)

In [18]:
x = [int(i) for i in str(18)]
x

[1, 8]

In [19]:
sum(x)

9

In [22]:
digital_root(493193)

2

In [ ]:
df = pd.read_csv('causes_of_death.tsv', delimiter='\t')
to_drop = df[df['Population'] == 'Not Applicable']
df.drop(to_drop.index, axis=0, inplace=True)
df['Population'] = df['Population'].astype('int64')
grouped = df.groupby(['State', 'Gender'])['Deaths', 
                                          'Population'].agg(['mean',
                                                             'min', 'max', 'std'])

#LATEST 3:53pm

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


heroes_df = pd.read_csv('heroes_information.csv')
powers_df = pd.read_csv('super_hero_powers.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)



heroes_df['Publisher'] = heroes_df['Publisher'].map(lambda x: x if (type(x) == int or float) else 
                                    x if x == 'DC Comics' else 
                                    (x if x == 'NBC - Heroes' else 
                                     (x if x == 'ABC Studios'
                                      else x.title())))
# heroes_df[heroes_df['Publisher'] == 'DC Comics']

# x = 'hi'
# type(x) == str

# heroes_df['Publisher'].value_counts(dropna = False)
heroes_df.drop(heroes_df[heroes_df['Publisher'].isna()].index, inplace=False)
heroes_df[heroes_df['Publisher'].isna()]

FileNotFoundError: [Errno 2] File b'titanic.csv' does not exist: b'titanic.csv'

In [29]:

def compliment(dna):
    dna2= []    
    for i in dna:
        if i == 'a':
            dna2.append('t')
        elif i == 't':
            dna2.append('a')
        elif i == 'c':
            dna2.append('g')
        elif i == 'g':
            dna2.append('c')
        else:
            'input is not A,C,T, or G'
    return ''.join(dna2)

In [30]:
compliment('actg')

'tgac'

In [12]:
x = 'actg'

In [14]:
x[2].replace('t', 'c')

'c'

In [15]:
x

'actg'

In [3]:
import pandas as pd

In [17]:
df = pd.DataFrame({'col A': [1, 2, 3], 'col b': [4, 5, 6]})

In [22]:
df.head().set_index(['col A'])

       col b
col A
1          4
2          5
3          6

In [41]:
def sequenceSum(int1, int2, int3):
    if int1 > int2:
        return 0
    else:
        new_list = range(int1, int2+1, int3)
        return sum(new_list)

In [42]:
sequenceSum(1,5,1)

15